//Color:
$clr-gray100:#f0f7f8;
$clr-gray200: #cfd8dc;
$clr-negative: red;
$clr-positive:green;

.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  .SearchFilter{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    input{
      width: 300px;
      height:40px;
      margin-top:20px;
      padding-left: 10px;
      font-size: 20px;
    }
    p{
      margin:10px;
      font-size: 18px;
    }
  }
  .Count{
    margin:0;
    padding:0;
    background-color: $clr-gray100;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    height: 88vh;
    h1{
      font-size: 6rem;
    }
    .button__wrapper{
      display: flex;
      gap:1rem;

      & > *{
        border: none;
        background-color: white;
        box-shadow: 0px 0px 10px $clr-gray200;
        font-weight: bold;
        font-size: 2rem;
        color:inherit;
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        cursor:pointer;
        outline:none;
        transition: 
          background-color 250ms ease-in-out,
          transform 50ms ease-in-out;
          &:hover{
            background-color: $clr-gray200;
          }
          &:active{
            transform:scale(0.9);
          }
      }
    }
    .positive{
      color:$clr-positive;
      animation: pulse 500ms ease-in-out;
    }
    .negative{
      color:$clr-negative;
      animation: pulse 500ms ease-in-out;
    }
  }
  .ShowList{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
@keyframes pulse{
  0%,100%{
    transform:scale(1);
  }
  50%{
    transform: scale(1.2);
  }
}


